<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504976958410-o79737numo9frdb5h603heskqhcu7tan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504976958410-o79737numo9frdb5h603heskqhcu7tan</string>
	<key>API_KEY</key>
	<string>AIzaSyBnbQfK99Et0MK6NhRbdUKWJ_C2zA7pYzI</string>
	<key>GCM_SENDER_ID</key>
	<string>504976958410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jake.MyToDo-Firebase-</string>
	<key>PROJECT_ID</key>
	<string>mytodo-3ba20</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodo-3ba20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504976958410:ios:62133f8106c93ef0942533</string>
	<key>DATABASE_URL</key>
	<string>https://mytodo-3ba20.firebaseio.com</string>
</dict>
</plist>